- page_title "GPG 密钥"
- @content_class = "limit-container-width" unless fluid_layout
= render 'profiles/head'

.row.prepend-top-default
  .col-lg-3.profile-settings-sidebar
    %h4.prepend-top-0
      = page_title
    %p
      GPG密钥允许您对签名的提交进行验证。
  .col-lg-9
    %h5.prepend-top-0
      添加 GPG 密钥
    %p.profile-settings-content
      在增加 GPG 密钥之前需要先
      = link_to '生成密钥。', help_page_path('user/project/repository/gpg_signed_commits/index.md')
    = render 'form'
    %hr
    %h5
      您的 GPG 密钥 (#{@gpg_keys.count})
    .append-bottom-default
      = render 'key_table'
