.row.prepend-top-default.append-bottom-default
  .col-lg-12
    %h5.prepend-top-0
      增加变量
    = render "ci/variables/form", btn_text: "增加新的变量"
    %hr
    %h5.prepend-top-0
      您的变量 (#{@variables.size})
    - if @variables.empty?
      %p.settings-message.text-center.append-bottom-0
        没有变量，请使用上面的表单增加。
    - else
      .js-secret-variable-table
        = render "ci/variables/table"
        %button.btn.btn-info.js-secret-value-reveal-button{ data: { secret_reveal_status: 'false' } }
          = n_('Reveal value', 'Reveal values', @variables.size)
